# Hypothetical employee earning $100,000 a year
# 10% deferred contribution
# 5% employer match
# No bonus paid yet
# 15% after tax contribution

[paystub]
paystub_date = 1/31/2022

cur_base_wages = 4166.67
ytd_base_wages = 8333.34

cur_pretax_regular = 416.67
ytd_pretax_regular = 833.33
ytd_pretax_employer_match = 416.67

ytd_pretax_bonus = 0
ytd_pretax_employer_apb_match = 0

cur_aftertax_regular = 625.00
ytd_aftertax_regular = 1250.00
